$light-grey: #cecece;
$main-blue: #319e9e;
$logo-bg-color: #212121;
$logo-fg-color: #e3e3e3;
$logo-height: 100px;
$burger-height: $logo-height - ($logo-height / 1.5);
$nav-height: 100px + $logo-height;

html {
  font-size: 15px;
}

body {
  min-width: 300px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif, monospace;
  font-size: 100%;
  text-align: center;
  margin-top: $nav-height;
}

body:not(.flex-nav-opened) {
  margin-top: $logo-height;
}

header {
  min-width: 300px;
  width: 100%;
  position: fixed;
  top: 0;
  height: $nav-height;
  background-color: $logo-bg-color;
  color: $logo-fg-color;
}

header:not(.flex-nav-opened) {
  height: $logo-height;
}

#burger {
  opacity: 1;
  border-radius: 5px;
  height: $burger-height;
  width: $burger-height;
  border: 2px solid $logo-fg-color;

  div {
    height: $burger-height / 8.0;
    margin: $burger-height / 6.0;
    background-color: $logo-fg-color;
    border-radius: 2px;
  }
}

.burger-opened:nth-child(1) {
  transform: rotate(-45deg) translate(-$burger-height/5, $burger-height/4);
  transition: transform 0.2s linear;
}

.burger-opened:nth-child(2) {
  opacity: 0;
  transition: opacity 0.2s linear;
}

.burger-opened:nth-child(3) {
  transform: rotate(45deg) translate(-$burger-height/6, -$burger-height/5);
  background-color: red;
  transition: transform 0.2s linear;
}

#logo-group {
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-variant: small-caps;
  font-size: 1.4em;
  padding: 0 0.8rem;
}

#header-img {
  max-width: 100%;
  max-height: 100%;
  height: $logo-height - 30px;
}

#flex-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5rem;

  .flex-nav-opened {
    display: none;
  }

  #nav-bar:not(.flex-nav-opened) {
    display: none;
  }

  #nav-bar {
    font-size: 1.2rem;
    display: block;

    li svg, li i {
      display: none;
    }
  }
}



.catchphrase {
  color: $main-blue;
  font-size: 2.5rem;
  font-family: 'Quicksand', sans-serif, monospace;
  font-variant: small-caps;
  font-weight: bold;
  padding: 0.4rem;
}

form {
  background-color: $main-blue;
  color: white;
  padding: 1.5rem;

  label {
    font-size: 1.8rem;
  }
}

.input-group {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

input[type="submit"] {
  border-style: none;
  background-color: #154c4c;
  color: white;
}

#product-feature-group, #product-offer-group {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#video {
  display: none;
}

@media screen and (min-width: 500px) {
  #video {
    display: inline;
  }
}

.product-feature {
  margin: 1rem;
  border-bottom: 1px solid $light-grey;
  width: 95%;
  padding-bottom: 2rem;

  h2 {
    margin: 0;
    padding: 1rem;
  }
}

.product-feature:last-child {
  border-bottom: 0;
}

h2, h3 {
  font-variant: small-caps;
}

h3 {
  font-size: 1.6rem;
}

.product-offer {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.product-offer:first-child {
  border-top: 5px solid $main-blue;
}

.product-offer:last-child {
  border-top: 1px solid $light-grey;
}

@media screen and (min-width: 500px) {
  .product-feature {
    width: 44%;
  }

  .product-feature:nth-child(3) {
    border-bottom: 0;
  }

  .product-offer {
    width: 44%;
  }

  .product-offer:last-child {
    border-top: 5px solid $main-blue;
  }
}

button {
  background-color: $main-blue;
  border-style: none;
  border-radius: 5px;
  color: white;
  padding: 1rem;
  font-variant: small-caps;
  font-weight: bold;
  margin: 1rem;
  margin-top: auto;
  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: #154c4c;
  }
}

ul {
  padding-left: 0;
  list-style-type: none;
}

a {
  color: $logo-fg-color;
  text-decoration: none;
}

a:hover {
  color: $main-blue;
  border-bottom: 2px solid $main-blue;
  padding-bottom: 0.1rem;
  transition: all 0.2s ease-in;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: $logo-bg-color;
  color: $logo-fg-color;
  padding-right: 2rem;
  font-size: 0.8rem;
  margin-top: 2rem;
}

@media screen and (min-width: 700px) {
  body {
    font-size: 1.2rem;
  }

  #logo-group {
    width: auto;
    margin-right: 2rem;
  }

  #header-img {
    padding-right: 2rem;
  }

  #burger {
    display: none;
  }

  #flex-nav {
    flex-direction: row;
    justify-content: center;

    .flex-nav-opened {
      display: flex;
    }

    #nav-bar {
      width: auto;
      ul {
        display: flex;
        justify-content: flex-end;

        li {
          padding-left: 0.8rem;
        }
      }

    }

    #nav-bar:not(.flex-nav-opened) {
      display: block;
    }
  }

  button {
    font-size: 1.2rem;
  }

  footer {
    font-size: 1rem;
  }
}

@media screen and (min-width: 840px) {
  #flex-nav {
    #nav-bar {
      li svg, li i {
        display: inline;
      }
    }
  }
}
